/* LOGOS */

.UA-logo {
    width: 265px;
    height: auto;
    margin-left: 15px;
    margin-right: auto;
}

.UA-logo-container {
    position: relative;
}

.UA-logo-hover {
    position: absolute;
    width: 265px;
    height: auto;
    margin-left: 15px;
    margin-right: auto;
    top: 5px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.UA-logo-container:hover .UA-logo-hover {
    opacity: 1;
}

#UWA-header-logo {
    width: 165px;
    height: auto;
    margin-left: auto;
    margin-right: 80px;
}

#UA-footer-logo {
    position: absolute;
    bottom: 50%;
    left: 10%;
    width: 400px;
    height: auto;
}

#UWA-footer-logo {
    position: absolute;
    top: 33%;
    left: 13%;
    width: 285px;
    height: auto;
}

/* CAROUSEL */

.carousel {
    position: absolute;
    left: 50%;
    top: 250%;
    transform: translate(-50%, -50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-inner {
    width: 85%;
    height: auto;
    margin: auto;
    border-radius: 15%;
}


/* TEXT */

body {
    margin: 0;
    padding: 0;
}

#homepage_container {
    margin: 5%;
}

#by-students {
    font-weight: 700;
    font-size: 100px;
    color: white;
}

#UA-description {
    font-size: 40px;
    font-weight: 300;
    color: white;
}

#your {
    font-weight: 400;
    color: #FFC107
}

/* BUTTON ANIMATIONS */

.btn-try-now {
    background-color: #FFC107;
    color: rgb(23, 23, 132);
    border: none;
    padding: 10px 30px 10px 20px;
    font-size: 1.2rem;
    position: relative;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-try-now:hover {
    background-color: white;
}

.btn-try-now:focus,
.btn-try-now:active {
    background-color: #959595;
    outline: none;
    transition: none;
}

.btn-try-now::before {
    color: rgb(188, 144, 2);
}

.btn-try-now::after {
    content: "\25B8";
    position: absolute;
    top: calc(50%);
    right: 15px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: rgb(23, 23, 132);
    transition: color 0.3s ease-in-out;
}

/* BACKGROUND ANIMATIONS */

#background-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg,
    rgba(2,0,0.6,1) 0%,
    rgb(23, 23, 132) 35%,
    rgb(71, 162, 209) 100%);
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 15%;
    }
    100%{
        transform: scale(1.4) translateY(-90px) rotate(540deg);
        opacity: 0;
    }
}

.box img {
    position: absolute;
    width: 100px;
    height: auto;
    z-index: 1;
}

.box img:nth-child(1) {
    top: 19%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box img:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box img:nth-child(3) {
    top: 22%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box img:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box img:nth-child(5) {
    top: 39%;
    left: 24%;
    animation: animate 8s linear infinite;
}

.box img:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box img:nth-child(7) {
    top: 73%;
    left: 87%;
    animation: animate 15s linear infinite;
}

.box img:nth-child(8) {
    top: 32%;
    left: 39%;
    animation: animate 16s linear infinite;
}

.box img:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box img:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}


#page-arrow {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-bottom: none;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    border-left: 15px solid transparent;
    transition: all 0.2s ease-in-out;
    animation: bobbing 1s infinite ease-in-out;
}

@keyframes bobbing {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/* CONTACT FORM */

.light-grey-divider {
    width: 13%;
    height: 1px;
    background-color: lightgrey;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divider-1 {
    top: 195%;
}

.divider-2 {
    top: 280%;
}

#contact-form {
    position: absolute;
    top: 335%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact-us-h2 {
    position: absolute;
    top: 304%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: lighter;
}

#contact-anchor-point {
    position: absolute;
    top: 295%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submission-confirm {
    position: absolute;
    top: 320%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkblue;
}

/* FEATURES */

#features-h2 {
    position: absolute;
    top: 127%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: lighter;
}

#features-container {
    position: absolute;
    display: flex;
    left: 50%;
    top: 163%;
    transform: translate(-50%, -50%);
}

#features-container > img {
    width: 400px;
    height: auto;
}

.hidden {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.feature:nth-child(1) {
    transition-delay: 200ms;
}

.feature:nth-child(2) {
    transition-delay: 400ms;
}

.feature:nth-child(3) {
    transition-delay: 500ms;
}