body {
  background-color: white;
  transition: all 0.4s ease-in-out;
}

#chatbot {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  margin: 0.75em;
  transition: all 0.4s ease-in-out;
}

#chatbot-header-title {
  font-size: 20px;
  font-weight: bold;
}

#navbar-logo-link {
  margin-left: 20px;
}

#chatbot-header-close {
  font-size: 24px;
  cursor: pointer;
}

#chatbot-body {
  padding: 10px;
}

#chatbot-response, #chatbot-history {
  margin: 1em;
}

#chatbot-response > h2, #chatbot-history > h2{
  font-weight: bold;
  font-size: 18px;
}

#chatbot-body-messages {
  max-height: 200px;
  overflow-y: scroll;
}

#chatbot-body-messages p {
  margin: 0 0 10px;
}

#chatbot-body-input {
  display: flex;
  margin-top: 10px;
}

#chatbot-body-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 3px;
  border: none;
}

#chatbot-body-input button {
  padding: 10px;
  background-color: #132bb5;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#chatbot-body-input button:hover {
  background-color: #ffcc07;
  color: black;
}

#response {
  padding: 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

#UWA-header-logo {
  width: 8vi;
  height: auto;
  margin-left: auto;
  margin-right: 5vi;
}

#UWA-header-logo {
  cursor: pointer;
}


#history-list li:nth-child(2n) {
  color: red;
  list-style-type: none;
  padding: 0;
}

#history-list li:nth-child(2n+1) {
  color: blue;
  list-style-type: none;
  padding: 0;
}

#chatbot-history button {
  padding: 10px;
  background-color: #132bb5;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-in-out;
}

#chatbot-history button:hover {
  background-color: #ffcc07;
  color: black;
}

nav {
  height: 65px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgb(31, 76, 200) !important;
}

.chatbot-pricing {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* PRICING */

#pricing-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

div.pricing-table {
  background-color: white;
  box-shadow: 0 0 40px #447ec8;
  border-radius: 2%;
  max-width: 960px;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 4;
}

div.pricing-plan {
  display: flex;
  flex-direction: column;
  /*width: 320px;*/
  align-items: center;
  flex: 1 4 320px;
  padding: 2em 2em;
}

div.panel {
  flex-shrink: 4;
}

div.pricing-plan:nth-of-type(2){
  border-left: 1px solid #d1d9e8;
  border-right: 1px solid #d1d9e8;
}

img.pricing-img {
  width: 225px;
}

h2.pricing-header {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #8e8e8e;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

ul.pricing-features {
  text-align: left;
  padding: 0;
  width: 220px;
  display: flex;
  flex-direction: column;
  flex-shrink: 10;
  justify-content: center;
  align-items: center;
}

li.pricing-features-item {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #f1f3f7;
  border-bottom: 1px solid #f1f3f7;
}

div.pro-plan li {
  color: #227dd0;
}

div.unlimited-plan li {
  color: #e8bb0a;
}

span.pricing-price {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #016ff9;
  font-size: 2em;
  text-transform: uppercase;
  padding: 20px 0;
}

button.pricing-button {
  padding: 15px 35px;
  border-radius: 10%/ 20%;
  background-color: white;
  border: 2px solid #71acdf;
}

button.pricing-button a {
  color: #335be6;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

button.is-featured {
  background-color: #48aaff;
  color: white;
}

button.is-featured a {
  color: white;
}

button.pricing-button:hover {
  background-color: #f1faff;
  transition: background-color 150ms ease-in-out
}

button.is-featured:hover {
  background-color: #2475df;
}

.most-popular {
  font-weight: bold;
}

@media (max-width: 900px) {
  body {
    margin: auto;
  }
  div.pricing-table {
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    border-radius: 1%;
  }
  div.pricing-plan {
    width: 90%;
  }
  div.pricing-plan:nth-of-type(2){
    border: none;
  }
  ul.pricing-features {
    width: 85%;
  }
  li.pricing-features-item {
    width: 100%;
  }
  img.pricing-img {
    width: 400px;
  }
}

@media (max-width: 468px) {
  div.pricing-table {
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    border-radius: 1%;
  }
  li.pricing-features-item {
    width: 75%;
  }
  img.pricing-img {
    width: 80%;
  }
}

/* CHATBOT RESTYLING */

#history-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
}

#history-list > div {
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 40%;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}

p.question {
  align-self: flex-end;
}

div.question {
  align-self: flex-end;
  background-color: #1900ff;
  color: white;
  padding: 10px;
}

p.response {
  align-self: flex-start;
}

div.response {
  align-self: flex-start;
  background-color: #ffcc07;
  padding: 10px;
}


div.question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #0006ff;
  border-bottom: 10px solid transparent;
}

div.response::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px; /* changed from right to left */
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #ffcc07; /* changed from border-left to border-right */
  border-bottom: 10px solid transparent;
}

/* TYPING ANIMATION */

.chat-bubble {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  transition: all 0.4s ease-in-out;
}

.typing-indicator {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.typing-indicator span {
  display: inline-block;
  margin: 0 3px;
  width: 6px;
  height: 6px;
  background-color: #ffc400;
  border-radius: 50%;
  animation: typing 1s ease-in-out infinite;
}

@keyframes typing {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* DARK MODE */

.dark-mode {
  background-color: #27272f;
}

#chatbot.dark-mode {
  box-shadow: 0 5px 15px rgba(255, 174, 0, 0.6);
}

#question-input.dark-mode {
  background-color: #000000;
  color: white;
}

#chatbot-body-input-button.dark-mode, #chatbot-history-button.dark-mode {
  background-color: #525576;
  color: white;
}

#question-input {
  outline-color: #ffcc07;
  transition: all 0.4s ease-in-out;
}

#question-input:focus {
  outline-color: #0006ff;
}

.toggle-switch {
  position: absolute;
  top: 200px;
  right: 60px;
  margin-top:10px;
  width: 60px;
  height: 30px;
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.toggle-switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("graphics/sun.svg");
  background-size: contain;
  transition: all 0.3s ease-in-out;
}

.toggle-switch.on .toggle-switch-handle {
  transform: translateX(-120%);
  background-image: url("graphics/sun.svg");
}

.toggle-switch.off .toggle-switch-handle {
  transform: translateX(120%);
  background-image: url("graphics/moon.svg");
  background-color: #525576;
}

.toggle-switch svg {
  width: 100%;
  height: 100%;
}

#login-page-no-navbar, #register-page-no-navbar {
            margin: 1em;
        }