@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* GLOBAL STYLING */

body {
  transition: all 0.4s ease-in-out;
  font-family: 'Hind Siliguri', sans-serif;
}

.parent-container {
  margin: 20px;
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

.page-header {
  font-weight: 700;
  font-size: 60px;
}

/* AI CHAT STYLING */

#chatbot {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 0.75em;
  transition: all 0.4s ease-in-out;
}

#chatbot-body {
  padding: 10px;
}

#chatbot-response, #chatbot-history {
  margin: 1em;
}

#chatbot-body-input {
  display: flex;
  margin-top: 10px;
}

#chatbot-body-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  margin-right: 2px;
}

#chatbot-body-input button {
  padding: 10px;
  margin-right: 5px;
  background-color: #132bb5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#chatbot-body-input button:hover {
  background-color: #ffcc07;
  color: black;
}

#chatbot-history button {
  padding: 10px;
  background-color: #132bb5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-in-out;
}

#chatbot-history button:hover {
  background-color: #ffcc07;
  color: black;
}

#response {
  padding: 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.response-container {
  background-color: #b3b5b9;
  color: #f4f7f2;
  padding: 10px;
}

#history-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px;
  margin: 30px;
}

#history-list div {
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 650px;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}

.question {
  align-self: flex-end;
}

.profile-picture {
  width: 30px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 5px;
}

div.question {
  background-color: #1900ff;
  color: white;
  padding: 10px;
}

p.question {
  font-weight: bold;
}

p.response {
  align-self: flex-start;
  font-weight: bold;
}

div.response {
  align-self: flex-start;
  background-color: #ffcc07;
  padding: 10px;
}

div.question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-left: 10px solid #0006ff;
  border-bottom: 10px solid transparent;
}

div.response::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-right: 10px solid #ffcc07;
  border-bottom: 10px solid transparent;
}

/* FOOTER */

#footer-row {
  padding-top: 75px;
  max-height: 400px;
}

.footer {
  position: absolute;
  top: 380%;
  height: 565px;
}

/* NAVBAR */

#main-navbar {
  background-color: #f4aa00;
  height: 90px;
}


button.navbar-toggler {
  position: relative;
  bottom: 30px;
}

.nav-link {
  color: white;
  margin-left: 10px;
}

.nav-link, #user_name {
  margin-top: 10px;
  font-size: 21px;
  padding: 0;
}

.nav-item a {
  transition: all 0.3s ease-in-out;
}

#user_name {
  text-transform: capitalize;
  margin-left: 50%;
  margin-right: 85px;
}

.nav-links {
  width: 80%;
}

#profile_pic {
  border-radius: 10px;
}

.navbar-nav .nav-item > a:hover {
  color: rgb(31, 76, 200) !important;
}

/* PRICING */

#pricing-header {
  margin: 40px auto;
  text-align: center;
}

#pricing-container {
  position: relative;
  top: 425px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: 'Hind Siliguri', sans-serif;
}

div.pricing-table {
  background-color: white;
  box-shadow: 0 0 40px #447ec8;
  border-radius: 10px;
  max-width: 960px;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 4;
}

div.pricing-plan {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: center;
  flex: 1 4 320px;
  padding: 2em 2em;
}

div.panel {
  flex-shrink: 4;
}

div.pricing-plan:nth-of-type(2){
  border-left: 1px solid #d1d9e8;
  border-right: 1px solid #d1d9e8;
}

img.pricing-img {
  width: 225px;
}

h2.pricing-header {
  font-weight: 700;
  color: #8e8e8e;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

ul.pricing-features {
  text-align: left;
  padding: 0;
  width: 220px;
  display: flex;
  flex-direction: column;
  flex-shrink: 10;
  justify-content: center;
  align-items: center;
}

li.pricing-features-item {
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #f1f3f7;
  border-bottom: 1px solid #f1f3f7;
}

div.pro-plan li {
  color: #227dd0;
}

div.unlimited-plan li {
  color: #e8bb0a;
}

span.pricing-price {
  font-weight: 700;
  color: #016ff9;
  font-size: 2em;
  text-transform: uppercase;
  padding: 20px 0;
}

button.pricing-button {
  padding: 15px 35px;
  border-radius: 10%/ 20%;
  background-color: white;
  border: 2px solid #71acdf;
}

button.pricing-button a {
  color: #335be6;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

button.is-featured {
  background-color: #48aaff;
  color: white;
}

button.is-featured a {
  color: white;
}

button.pricing-button:hover {
  background-color: #f1faff;
  transition: background-color 150ms ease-in-out
}

button.is-featured:hover {
  background-color: #2475df;
}

.most-popular {
  font-weight: bold;
}

/* TYPING ANIMATION */

.chat-bubble {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  transition: all 0.4s ease-in-out;
}

.typing-indicator {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.typing-indicator span {
  display: inline-block;
  margin: 0 3px;
  width: 6px;
  height: 6px;
  background-color: #ffc400;
  border-radius: 50%;
  animation: typing 1s ease-in-out infinite;
}

@keyframes typing {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* DARK MODE */

.dark-mode {
  background-color: #27272f;
}

#chatbot.dark-mode {
  box-shadow: 0 5px 15px rgba(255, 174, 0, 0.6);
}

#question-input.dark-mode {
  background-color: #000000;
  color: white;
}

#chatbot-body-input-button.dark-mode, #chatbot-history-button.dark-mode {
  background-color: #525576;
  color: white;
}

p.question.dark-mode {
  color: orange;
}

#question-input {
  outline-color: #ffcc07;
  transition: all 0.4s ease-in-out;
}

#question-input:focus {
  outline-color: #0006ff;
}

.toggle-switch {
  position: absolute;
  top: 200px;
  right: 30px;
  margin-top:10px;
  width: 60px;
  height: 30px;
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.toggle-switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("graphics/sun.svg");
  background-size: contain;
  transition: all 0.3s ease-in-out;
}

.toggle-switch.on .toggle-switch-handle {
  transform: translateX(-120%);
  background-image: url("graphics/sun.svg");
}

.toggle-switch.off .toggle-switch-handle {
  transform: translateX(120%);
  background-image: url("graphics/moon.svg");
  background-color: #525576;
}

.toggle-switch svg {
  width: 100%;
  height: 100%;
}

/* LOGIN PAGE */

#login-form, #registration-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
}

#login-form input, #registration-form input {
  border-radius: 8px;
}

#login-button, #register-button {
  color: #fff;
  background-color: #0006ff;
  border: none;
  margin-bottom: 5px;
  padding: 6px 20px;
  transition: all 0.3s ease-in-out;
}

#login-button:hover, #register-button:hover {
  background-color: #2451e5;
}

#username {
  padding-left: 22px;
  background-image: url('graphics/username.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
  height: 30px;
  border: 2px solid black;
  width: 200px;
}

#password {
  margin-top: 10px;
  padding-left: 22px;
  background-image: url('graphics/password.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
  height: 30px;
  border: 2px solid black;
}

#profile_pic_input {
  padding: 2px;
}

/* DISCUSSION BOARD */

#threads {
  margin: 1em;
}

#threads h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#threads ul {
  list-style: none;
}

#threads li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#threads li:nth-child(even) {
  background-color: #cfe7ff;
}

#threads li:nth-child(odd) {
  background-color: #fff3d1;
}

#threads li a {
  text-decoration: none;
  color: #333;
}

#threads li a:hover {
  text-decoration: underline;
}

#threads li h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

#threads li p {
  font-size: 14px;
  margin-bottom: 2px;
}

#threads button {
  margin-top: 10px;
  background-color: #0006ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#threads button a {
  color: #fff;
  text-decoration: none;
}

#threads button:hover {
  background-color: #ffcc07;
}

/* NEW TOPIC */

form {
  margin: 2em;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #0006ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #ffcc07;
}

/* LOGOS */

.UA-logo {
  width: 265px;
  height: auto;
  margin-left: 15px;
  margin-right: auto;
}

.UA-logo-container {
  position: relative;
}

.UA-logo-hover {
  position: absolute;
  width: 265px;
  height: auto;
  margin-left: 15px;
  margin-right: auto;
  top: 5px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.UA-logo-container:hover .UA-logo-hover {
  opacity: 1;
}

#UWA-header-logo {
  width: 165px;
  height: auto;
  margin-left: auto;
  margin-right: 60px;
  cursor: pointer;
}

#UA-footer-logo {
  position: relative;
  bottom: 35px;
  width: 400px;
  height: auto;
}

#UWA-footer-logo {
  position: relative;
  bottom: 100px;
  width: 285px;
  height: auto;
}

/* CAROUSEL */

.carousel {
  position: absolute;
  left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-inner {
  width: 85%;
  height: auto;
  margin: auto;
  border-radius: 15%;
}


/* HOMEPAGE TEXT */

#homepage_container {
  margin: 5%;
}

#by-students {
  font-weight: 700;
  font-size: 100px;
  color: white;
}

#UA-description {
  font-size: 40px;
  font-weight: 300;
  color: white;
}

#your {
  font-weight: 400;
  color: #FFC107
}

/* BUTTON ANIMATIONS */

.btn-try-now {
  background-color: #FFC107;
  color: rgb(23, 23, 132);
  border: none;
  padding: 10px 30px 10px 20px;
  font-size: 1.2rem;
  position: relative;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-try-now:hover {
  background-color: white;
}

.btn-try-now:focus,
.btn-try-now:active {
  background-color: #959595;
  outline: none;
  transition: none;
}

.btn-try-now::before {
  color: rgb(188, 144, 2);
}

.btn-try-now::after {
  content: "\25B8";
  position: absolute;
  top: calc(50%);
  right: 15px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: rgb(23, 23, 132);
  transition: color 0.3s ease-in-out;
}

/* HOMEPAGE BACKGROUND ANIMATIONS */

#background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg,
  rgba(2,0,0.6,1) 0%,
  rgb(23, 23, 132) 35%,
  rgb(71, 162, 209) 100%);
}

@keyframes animate {
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 15%;
  }
  100%{
    transform: scale(1.4) translateY(-90px) rotate(540deg);
    opacity: 0;
  }
}

.box img {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 1;
}

.box img:nth-child(1) {
  top: 19%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box img:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box img:nth-child(3) {
  top: 22%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box img:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box img:nth-child(5) {
  top: 39%;
  left: 24%;
  animation: animate 8s linear infinite;
}

.box img:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box img:nth-child(7) {
  top: 73%;
  left: 87%;
  animation: animate 15s linear infinite;
}

.box img:nth-child(8) {
  top: 32%;
  left: 39%;
  animation: animate 16s linear infinite;
}

.box img:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box img:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

/* BOBBING SCROLL ARROW */

#page-arrow {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-bottom: none;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  border-left: 15px solid transparent;
  transition: all 0.2s ease-in-out;
  animation: bobbing 1s infinite ease-in-out;
}

@keyframes bobbing {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

/* CONTACT FORM */

#contact-form {
  position: absolute;
  top: 330%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85vw;
}

#contact-form input, #contact-form textarea {
  height: auto;
}

#contact-us-h2 {
  position: absolute;
  text-align: center;
  top: 304%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

#contact-anchor-point {
  position: absolute;
  top: 290%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submission-confirm {
  position: absolute;
  top: 320%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkblue;
}

/* FEATURES PANELS WITH ANIMATIONS */

#features-h2 {
  position: absolute;
  top: 127%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

#features-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 50%;
  top: 163%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#features-container > img {
  width: 33%;
  height: auto;
}

.hidden {
  opacity: 0;
  filter: blur(4px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.feature:nth-child(1) {
  transition-delay: 200ms;
}
.feature:nth-child(2) {
  transition-delay: 400ms;
}
.feature:nth-child(3) {
  transition-delay: 500ms;
}

/* HOMEPAGE DIVIDERS */

.light-grey-divider {
  width: 13%;
  height: 1px;
  background-color: lightgrey;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider-1 {
  top: 195%;
}

.divider-2 {
  top: 280%;
}


.error-message {
  position: absolute;
  color: red;
}

/* MEDIA QUERIES */

/* Navbar */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    background-color: white;
  }
  #UWA-header-logo {
    position: relative;
    left: 2em;
    top: 10em;
  }
  .navbar-collapse {
    position: relative;
    top: 45px;
    z-index: 1;
  }
  .nav-link, #user_name {
    margin-left: 0;
    color: black;
  }
  .UA-logo-container {
    position: absolute;
    left: 65px;
  }
  .navbar-toggler {
    top: 5px;
    left: 30px;
  }
}

/* Footer */
@media (max-width: 991px) {
  .footer img {
    display: none;
  }
}

/* Pricing */
@media (max-width: 991px) {
  #pricing-container {
    top: 1000px;
    display: flex;
  }
  div.pricing-table {
    flex-direction: column;
    align-items: center;
  }
  div.pricing-plan {
    width: 100%;
    border: none;
    margin-bottom: 40px;
  }
  div.pricing-plan:nth-of-type(2) {
    border-left: none;
    border-right: none;
  }
  ul.pricing-features {
    width: 100%;
  }
}

/* General */
@media (max-width: 767px) {
  .parent-container {
    margin: 0;
  }
  .page-header {
    font-size: 40px;
  }
}

@media (max-width: 1251px) {
  #UWA-header-logo {
    display: none;
  }
}
