{% extends "base.html" %}
{% block content %}
<script>
  const userId = "{{ userId }}";
  if (userId ) {
    // Store the user-id in localStorage
    localStorage.setItem('user-id', "{{ userId }}" );
  }
  else {
    localStorage.setItem('user-id', null);
  }

  console.log(localStorage.getItem('user-id'));
</script>
<script src="../static/gpt.js"></script>
<style>
  #history-list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
  }

  #history-list > div {
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 40%;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  p.question {
    align-self: flex-end;
  }

  div.question {
    align-self: flex-end;
    background-color: #1900ff;
    color: white;
    padding: 10px;
  }

  p.response {
    align-self: flex-start;
  }

  div.response {
    align-self: flex-start;
    background-color: #ffcc07;
    padding: 10px;
  }


  div.question::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #0006ff;
    border-bottom: 10px solid transparent;
  }

  div.response::after {
    content: "";
    position: absolute;
    top: 75%;
    left: -10px; /* changed from right to left */
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #ffcc07; /* changed from border-left to border-right */
    border-bottom: 10px solid transparent;
  }


</style>

<div id="chatbot">
  <div id="chatbot-body">
    <div id="chatbot-body-messages"></div>
    <div id="chatbot-body-input">
      <input
              type="text"
              id="question"
              placeholder="Type your question here..."
      />
      <button id="chatbot-body-input-button">
        Send
      </button>
    </div>
  </div>
  <div id="chatbot-response">
    <h2>Chat Response</h2>
    <div id="response"></div>
  </div>
  <div id="chatbot-history">
    <h2>Chat History</h2>
    <button onclick= clear_history()>Clear History</button>
    <div id="history">
      <ul id="history-list"></ul>
    </div>
  </div>
</div>
{% endblock %}