{% extends "base.html" %}
{% block content %}
<!-- Add Javascript Script -->
<script src="../static/app.js"></script>

<!-- Chatbot Section -->
<div id="chatbot">
  <div id="chatbot-body">

    <!-- Chatbot GUI -->
    <div id="chatbot-body-input">
      <input
              type="text"
              id="question-input"
              placeholder="Type your question here..."
      >
      <button id="chatbot-body-input-button">
        Send
      </button>
    </div>
    <div class="toggle-switch">
      <div class="toggle-switch-handle">
      </div>
    </div>
  </div>

  <!-- Chatbot History Displays - Includes Sent and Received -->
  <div id="chatbot-response">
    <div id="response"></div>
  </div>
  <div id="chatbot-history">
    <button id="chatbot-history-button">Clear History</button>
    <div id="history">
      <ul id="history-list"></ul>
    </div>
  </div>

<!--  Typing Indicator -->
  <div class="chat-bubble">
    <div class="typing-indicator">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
{% endblock %}