{% extends "base.html" %}
{% block content %}
<div class="parent-container">
    <h1 class="page-header">Hello Again!</h1>

    <!--  Take and Display Error Parameter if Passed - Invalid User/Password  -->
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <!--  Login Form  -->
    <form method="post" action="/login" id="login-form">
        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="Username " required>
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Password " required>
        <br>
        <input type="submit" value="Login" id="login-button">
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
</div>
{% endblock %}