{% extends "base.html" %}
{% block content %}
<h1 class="page-header" id="pricing-header">Pricing</h1>
<div id="pricing-container">
    <div class="panel pricing-table">

        <div class="pricing-plan basic-plan">
            <img src="../static/graphics/Jeffrey_grey.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Basic</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Up to 100 AI interactions per month</li>
                <li class="pricing-features-item">Full discussion board access</li>
                <li class="pricing-features-item">Upgrade to premium plan at any time</li>
            </ul>
            <span class="pricing-price">Free</span>
            <button class="pricing-button"><a href="#/">Sign up</a></button>
        </div>

        <div class="pricing-plan pro-plan">
            <img src="../static/graphics/Jeffrey_blue.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Pro</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Up to 1000 AI interactions per month</li>
                <li class="pricing-features-item">Discussion board priority from UWA tutors</li>
                <li class="pricing-features-item">Waiting list priority for new features</li>
            </ul>
            <span class="pricing-price">$11.99/month</span>
            <button class="pricing-button is-featured"><a href="#">Free trial</a></button>
            <br>
            <span class="most-popular">MOST POPULAR</span>
        </div>

        <div class="pricing-plan unlimited-plan">
            <img src="../static/graphics/Jeffrey_yellow.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Unlimited</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Unlimited AI interactions per month</li>
                <li class="pricing-features-item">Discussion board priority from UWA tutors</li>
                <li class="pricing-features-item">Early access to unreleased features</li>
            </ul>
            <span class="pricing-price">$39.99/month</span>
            <button class="pricing-button"><a href="#">Free trial</a></button>
        </div>
    </div>
</div>
{% endblock %}