{% extends "base.html" %}
{% block content %}
<div class="chatbot-pricing">
    <h1> Pricing</h1>
    <p>Our basic plan will remain free forever, however in the future there will be
        optionality to upgrade plans to gain early access to features, bypass rate limiting, and more.</p>
    <table>
        <thead>
        <tr>
            <th>Plan</th>
            <th>Price</th>
            <th>Features</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Basic</td>
            <td>Free</td>
            <td>Up to 100 interactions per month</td>
        </tr>
        <tr>
            <td>Pro</td>
            <td>$49.99/month</td>
            <td>Up to 1000 interactions per month</td>
        </tr>
        <tr>
            <td>Unlimited</td>
            <td>$99.99/month</td>
            <td>Unlimited interactions per month, early access to advanced features</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}