{% extends "base.html" %}
{% block content %}
<div class="parent-container">
    <h1 class="page-header">Register a New Account</h1>

    <!--  Error Display if User Already Exists  -->
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}

    <!--  Registration Form  -->
    <form method="post" action="/register" enctype="multipart/form-data" id="registration-form">
        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="Username" autocomplete="username" required>
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Password " autocomplete="new-password"
               required>
        <br>
        <label for="profile_pic_input"><b>Profile Picture</b></label>
        <input type="file" name="profile_pic" id="profile_pic_input" accept="image/*">
        <br>
        <input type="submit" value="Register" id="register-button">
    </form>
    <p>Already have an account? <a href="../login">Login</a></p>
</div>
{% endblock %}
