{% extends "base.html" %}
{% block content %}
<div class="parent-container">
    <!--  Topic Title  -->
    <h1 class="page-header" style="text-decoration: underline;">{{ topic[1] }}</h1>

    <!--  Topic Description  -->
    <p>{{ topic[2] }}</p>

    <!--  Topic Metadata -->
    <p>Posted by: {{ topic[3] }}</p>
    <p>Posted on: {{ topic[4] }}</p>

    <!--  Displays Replies to Topic with Metadata  -->
    <div class="response-container">
        <h2 style = "color: blueviolet;">Replies</h2>
        <ul>
            {% for response in responses %}
            <li>
                <p><span style="color: rgb(166, 37, 235); font-weight: bold;">{{ response[3] }}</span>: {{ response[2] }}</p>
                <p>Posted on: {{ response[4] }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!--  Add Post Reply UI -->
    <h2>Reply</h2>
    <form method="post" action="{{ url_for('topic', topic_id=topic[0]) }}">
        <textarea name="response" rows="5" cols="30"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
